*.iml
.gradle
.idea/
/.idea/
/local.properties
.DS_Store
Thumbs.db
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Android Source Code & Gradle Build Files from GitHub to Protect Intellectual Property
/app/
/gradle/
/*.kts
/gradlew*
/gradle.properties
