*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
Thumbs.db
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Android Source Code & Build Files from GitHub to Protect Intellectual Property
VSpyCamera/app/
VSpyCamera/gradle/
VSpyCamera/*.kts
VSpyCamera/gradlew*
VSpyCamera/gradle.properties
VSpyCamera/local.properties
VSpyCamera/.idea/
VSpyCamera/build/
